.hero {
    width: 100%;
    overflow: hidden;
    height: 80vh;
    background: linear-gradient(90deg, rgba(38,31,108,1) 0%, rgba(9,9,121,1) 63%, rgba(35,180,255,1) 100%);
    position: relative;
    z-index: 1;
    margin-bottom: 2.5rem;

    .content {
        width: 90%;
        height: 100%;
        max-width: 1300px;
        margin: 0 auto;
        position: relative;
        z-index: 5;

        .principal {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 2rem;
            color: white;

            .header {
                padding-top: 2rem;
                font-size: 48px;
                font-weight: 600;
            }

            .subtitle {
                font-size: 16px;
                font-weight: 500;
            }

            @media screen and (min-width: 768px) {
                flex-direction: row;
                justify-content: start;

                .header {
                    width: 50%;
                }
            }
        }

        .discover {
            margin-top: 1rem;
            background-color: var(--selected-blue-color);
            color: white;
            padding: 1rem 2rem;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 1rem;
            border: none;
            transition: transform 0.3s ease; 
            font-weight: 400;
            border-radius: 2rem;
            cursor: pointer;
            transition: 0.6 ease all;

        }
        .discover:hover {
            background-color: #1a8cd8;
        }

        .subtitle {
            margin: 1rem 0;
            font-size: 16px;
            font-weight: 400;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: start;
            color: white;
            cursor: pointer;

            .icon {
                font-size: 24px;
                color: white;
            }
        }
        .subtitle:hover {
            text-decoration: underline;
        }
    }

    .image {
            display: none;
            position: absolute;
            z-index: 5;
            width: 90%;
            height: 300px;
            bottom: 0;
            @media screen and (min-width: 768px) {
                display: block;
                width: 950px;
                height: auto;
                z-index: 10;
                right: -100px;
        }
    }

    .cover{
        position: absolute;
        right: 0;
        top: 0;
        z-index: 1;
    }
}


/* @media screen and (min-width: 768px) {} */