@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --purple-color: #261f6c;
  --dark-blue: #1e293b;
  --dark-purple: #0b0928;
  --blue-color: #007892;
  --selected-blue-color: #23b4ff;
  --blue-button: #007892;
  --balck-color: black;
  --text-gray: #64748b;
  --gray: #e2e8f0;
  --orange: #bb7733;
}

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
}

body {
  background-color: rgb(248, 250, 252);
}

.filterClass {
  width: 95%;
  margin: 0 auto;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  .rc-slider-track,
  .rc-slider-tracks {
    background-color: #007892;
    height: 8px;
  }
  .rc-slider-dot {
    background-color: transparent;
    border: none;
  }
  .rc-slider-rail {
    background-color: #e2e8f0;
    height: 8px;
  }

  .rc-slider-handle-dragging.rc-slider-handle-dragging.rc-slider-handle-dragging {
    box-shadow: none !important;
  }
  .rc-slider-handle {
    border: 5px solid #007892;
    width: 18px;
    height: 18px;
    opacity: 1;
  }
  .rc-slider-mark-text {
    font-size: 14px;
    margin-top: 0.25rem;
  }
  .rc-slider-mark-text-active {
    color: black;
  }
}

.example {
  background-color: white;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
  border-radius: 15px;
  border: 1px solid #e2e8f0;
  padding: 1rem;
}

.error {
  height: 90vh;
  background-color: #261f6c;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  .container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .img {
      width: 90%;
      margin: 0 auto;
      height: auto;
    }

    .title {
      color: white;
      text-align: center;
      font-weight: 700;
      font-size: 24px;
    }

    .button {
      width: 80%;
      margin: 0 auto;
      border: 1px solid white;
      background-color: transparent;
      padding: 0.5rem;
      border-radius: 5px;
      color: white;
      text-decoration: none;
      text-align: center;
    }
    .button:hover {
      background-color: white;
      color: #261f6c;
    }
  }

  @media screen and (min-width: 768px) {
    .container {
      width: 60%;
      .img {
        width: 50%;
      }
      .button {
        width: 20%;
      }
    }
  }
}

/* page under mantain */
.maintenance-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  background-color: #2196f3; /* Azul */
  color: #fff; /* Blanco */
  font-family: Arial, sans-serif;
}

.maintenance-heading {
  font-size: 36px;
  margin-bottom: 20px;
}

.maintenance-message {
  font-size: 20px;
  text-align: center;
}

.legend {
  max-width: 1300px;
  width: 90%;
  margin: 0 auto;
  color: gray;
  text-align: center;
  margin-bottom: 1rem;
}

.generalBannerWrapper {
  width: 90%;
  max-width: 1300px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.5rem;
}

.politica-privacidad {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}
.terminos-condiciones {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}