.bannerContainer {
  width: 100%;
  max-width: 1300px;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: white;
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: rgb(35, 30, 99);
  font-size: 16px;

  position: relative;

  @media (max-width: 768px) {
    font-size: 14px;
  }
}

.bannerAlert {
  width: fit-content;
  background-color: #ffeb3b;
  color: black;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
  border-radius: 5px;
  position: absolute; /* Paso 2: Posiciona absolutamente el banner de alerta */
  top: -15px; /* Ajusta la distancia desde la parte superior (negativo para que sobresalga) */
  left: 0; /* Ajusta la distancia desde la derecha (negativo para que sobresalga) */
  z-index: 10; /* Asegura que esté por encima de otros elementos si hay superposiciones */
  transform: translate(0%, -50%);
}
